*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
     --container-height:100vh;
     --container-width:100vw;
     --ground-height:100px;
     --bird-width:50px;
     --bird-height:50px;
}

.container{
    position: relative;
    width:var(--container-width);
    height:var(--container-height);
    background: url("./assets/background-day.png");
    background-size: contain;
    
}


.bird{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left:300px;
    top:100px;

}





.ground{
position: absolute;
height:var(--ground-height);
width:100%;
background: url("./assets/base.png");
bottom: 0;

}

.obstacle{
    width:50px;
    
    position: absolute;
    right: 0;
   
}

.obstacle-top{
    background: url("./assets/pipe-green.png");
    transform: rotate(180deg);
}


.obstacle-bottom{
    background: url("./assets/pipe-green.png");
}
.score-card{
    z-index: 1;
    font-size: 5rem;
    width: fit-content;
   color:red;
   position: absolute;
   left:calc(var(--container-width) / 2);
}

.game-over-dialog{
    z-index: 2;
    position: absolute;
    left:calc(var(--container-width) / 2);
    top:calc(var(--container-height) / 2);
    transform: translate(-50%,-50%);
    width: 300px;
    height:300px;
    padding-top:5rem;
    text-align: center;
     font-size: 2rem;
    
}

.play-again{
    width:50%;
    height:15%;
}


.game-over-dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(5px); /* apply a blur effect */
}